:host {

    .box-item {
        display: flex;
        align-items: center;
        border: 1px solid #f0efef;

    }

    .status {
        width: 1%;
        height: 50px;
    }
    .date-transaction {
        width: 10%;
        font-size: 12px;
        text-align: center;
    }
    .merchant {
        width: 10%;
        text-align: center;
        img {
            width: 45px;
            height: 45px;
        }
    }
    .data {
        width: 69%;
        padding-left: 5px;
        .name-merchant {
            font-size: 16px;
            font-weight: 600;
        }
        .type-transaction {
            font-size: 14px;
        }
    }
    .amount {
        width: 10%;
        font-weight: 600;
        text-align: right;
    }

    @media (max-width: 767.98px) {
        font-size: 10px;
        .merchant {
            img {
                width: 30px;
                height: 30px;
            }
        }
        .date-transaction {
            font-size: 8px;
            width: 8%;
        }
        .data {
            width: 61%;
            .name-merchant {
                font-size: 14px;
            }
            .type-transaction {
                font-size: 12px;
            }
        }
        .amount {
            width: 18%;
        }
    }
}