:host {
    .filter-container {
        border: 1px solid #f00;
        display: flex;
    }
    .filter-input {
        width: 60%;
        border: 1px solid #00f;
    }
    .filter-select {
        width: 40%;
        border: 1px solid #0ff;
        display: flex;
    }
    /* .filter-input-text {

    } */
    input:focus{
        outline: none;
    }
    /* Edge */
    ::-webkit-input-placeholder {
        color: #c3c3c3;
    }
    /* Internet Explorer 10-11 */
    :-ms-input-placeholder {
        color: #c3c3c3;
    }
    ::placeholder {
        color: #c3c3c3;
    }
}